<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="Submit()" #d="ngForm">
                <div class="form-group">
                    <label for="studen">Student Full Name</label>
                    <input id="studen" type="text" class="form-control" ngModel name="student">
                </div>
                <div class="form-group">
                    <label for="studen">Roll Number</label>
                    <input id="studen" type="text" class="form-control" ngModel name="RollNumber">
                </div>
                <div class="form-group">
                    <label for="Branchname">Branch Name</label>
                    <select  id="Branchname" ngModel name="BranchNames" class="form-control">
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="MECH">MECH</option>
                        <option value="CSE">CSE</option>
                        <option value="ARCH">ARCH</option>
                        <option value="ISE">ISE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <select name="year" id="year" class="form-control" ngModel>
                        <option value="1">I</option>
                        <option value="2">II</option>
                        <option value="3">III</option>
                        <option value="4">IV</option>                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="Date">Date Of Birthe</label>
                    <input type="date" name="date" ngModel class="form-control">
                </div>
                <button type="submit" class="btn btn-primary"  [disabled]="!d.valid">ENTER</button>
            </form>
        </div>
    </div>
</div>
